<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24536231275-co72uql7ah7t41akk0bplevqf9g236al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24536231275-co72uql7ah7t41akk0bplevqf9g236al</string>
	<key>API_KEY</key>
	<string>AIzaSyD_1rZ0-cNO3v7hU1NV6KcQy5DW78PVgzA</string>
	<key>GCM_SENDER_ID</key>
	<string>24536231275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomates</string>
	<key>PROJECT_ID</key>
	<string>roomates-7d171</string>
	<key>STORAGE_BUCKET</key>
	<string>roomates-7d171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24536231275:ios:4c40fc8654b6253a7ff02e</string>
</dict>
</plist>